<ion-view view-title="My-Favorites">
<br><br>

 <ion-content>
<br>
            <ion-item href="#/app/profile"><img src="https://placeimg.com/200/200/tech"></ion-item>
            <div class="row">

                <img src="http://placehold.it/200x200" class="col-50 list-img img-margin">
                <img src="http://placehold.it/200x200" class="col-50 img-margin">
                </div>
            <div class="row">
                <img src="http://placehold.it/200x200" class="col img-margin">
                <img src="http://placehold.it/200x200" class="col img-margin">
                </div>
</ion-content>

</ion-view>
