<ion-view view-title="Followers">

    <ion-content>


        <br><br><h1 class="title row">Followers</h1>

        <ion-list>
    <div class="row even" href="#/app/profile">
    <img class="followerpic" src="https://placeimg.com/137/85/people" border="0">
    <div class="followerinfo">
    <h3>{{User-Name}}</h3>
        <h4>Pictures:<span class="picscount">{{PicCount}}</span></h4>
    </div>

 </div>
            <div class="columnlinebreak"></div>
            <div class="row odd" href="#/app/profile">
                <img class="followerpic" src="https://placeimg.com/137/85/people" border="0">
                <div class="followerinfo">
                    <h3>{{User-Name}}</h3>
                    <h4>Pictures:<span class="picscount">{{PicCount}}</span></h4>
                </div>

            </div>
            <div class="columnlinebreak"></div>
 </ion-list>

    </ion-content>

</ion-view>
