<ion-view view-title="The Stream">

    <div class="bar bar-subheader">
        <div class="button-bar">
            <a class="button button-calm buttonsubnav">All</a>
            <a class="button button-assertive buttonsubnav">Outdoors</a>
            <a class="button button-royal buttonsubnav">Indoors</a>
        </div>
    </div>
    <!--
        <ion-content>
            <div class="row">
                <img src="http://placehold.it/200x200" class="col-50 list-img img-margin">
                <img src="http://placehold.it/200x200" class="col-50 img-margin">
                </div>
            <div class="row">
                <img src="http://placehold.it/200x200" class="col img-margin">
                <img src="http://placehold.it/200x200" class="col img-margin">
                </div>
        </ion-content>
        -->
</ion-view>
