<ion-view view-title="My Gallery" ng-controller="ContactController">

    <ion-content>

        <button class="button" ng-click="getContactList()">Load</button>

        <div class="row">
            <img src="https://placeimg.com/200/200/nature" class="col list-img img-margin">
            <img src="https://placeimg.com/200/200/arch" class="col img-margin">
        </div>

        <div class="row">
            <img src="https://placeimg.com/200/200/arch" class="col img-margin">
            <img src="https://placeimg.com/200/200/nature" class="col img-margin">
        </div>
    </ion-content>

</ion-view>
